dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d4fe5efb-75b2-4288-9683-67708e3b8df8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="f8cef4c0-83bd-4376-9552-53a078ccfff3" >
		<http:listener doc:name="Listener" doc:id="e43b7817-f5e7-4fc1-b574-c1ca26ad92aa" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi Dummy"]' doc:name="Set Payload" doc:id="8b81cf51-5833-4d02-bd47-b0d4cd0dec88" />
	</flow>
</mule>
